body{
	width: 75%;
	margin:0 auto;
	text-align: center;
    background-color: azure;
    font-size: 2em;
    border: 9px solid;
    border-color: indigo;
}


ul{
	list-style: none;
}

h1{
    background-color: orangered;
    border: 2px solid;
    border-color: aqua;
    margin:-25px 0;

}

a{
    text-decoration: none;
}

p{
    background-color: bisque;
}