header{
    height: 300px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: gray;
    font-size: 3em;
    text-align: center;
    
}
body{
    width: 80%;
    margin: 0 auto;
	height: 400px;
    margin-bottom: 10px;
    background: black
}

h1{
    background-color: gray;
}

.column{
    background-color: gray;
}



ul{
	list-style: none;
}

a{
    text-decoration: none;
}


footer{
    height: 150px;
    background-color: gray;
}