body{
    background-color: mediumpurple;
    text-align: center;
}

nav ul{
    list-style: none;
    
   
}

nav li {
    display: inline;
}


nav a{
    text-decoration: none;
    color: cyan;
    font-size: 2em;
    display: inline-block;
    padding-left: 50px ;
    padding-right: 50px;
}

nav a:hover{
    color: saddlebrown;
    font-size: 40px;
    transition: color 1.8s;
}

