header{
    padding:5;
    background-color: antiquewhite;
}

ul{
    list-style-type: none;
    padding: inherit;
    margin: none;
    }

li{
    display: inline-block;
    padding: 10;
    margin-left: 20;
    font-size: 25;
}

h1{
    text-align: center;
}

column{
    float: left;
    width: 50%;
    margin-left:80;
    
}

aside{
    float:right;
    width: 40%;
    
}

