header{
    padding:5;
    background-color: antiquewhite;
}

ul{
    list-style-type: none;
    padding: inherit;
    margin: none;
    }

li{
    display: inline-block;
    padding: 10;
    margin-left: 20;
    font-size: 25;
}

body{
    background-image:url(grass.jpg);
}

h1{
    text-align: center;
    background-color: darkorange;
    margin: 5 350;
    padding: 15;

}

column{
    background-color: white;
    float: left;
    width: 50%;
    margin-left:0;
    padding-left: 55;
    
}

aside{
    float:right;
    width: 40%;
    
}

.box{
    background-color: white;
    padding: 50;
    margin-bottom: 25
}

