ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:inherit;
    top: 0;
    width: 100%;
}



li{
    float: left;
}

li a{
    color: hotpink;
    display:block;
    text-align: center;
    padding: 14px 16px;
    font-size: 50;
    text-decoration: none;
    font-family:'Allerta Stencil', sans-serif;
    
}

li a:hover{
    color: black;
    transition: 1s;
    text-decoration: underline;
    font-size: 40px;
}

body{
    background-color: black;
}

.choice {
    text-align: center;
    color: mediumpurple;
    font-size: 55;
    margin-top: 90;
    font-family:  'Noto Sans', sans-serif;
}

.choice:hover{
    color: #504A48;
    transition: 1.5s;
}

.items {
    
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.items a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.items a:hover {background-color: #f1f1f1}

.choice:hover .items {
    display: block;
}

.pinkhand{
    text-align: center;
    margin-top: 10%;
}

h1{
    color: #B6240F;
    text-align: center;
    font-size: 100;
    
}



.merch h1{
    font-size: 45;
    text-align: center;
    color: plum;
    margin-left: 200;
    margin-right: 200;
    margin-top: 5; 
    
    }

.sunset{
    text-align: center;
}



column{
    text-align: center;
    width: 40%;
}

p{
    color: aliceblue;
    font-family: 'Charm', cursive;
    font-size: 40;
}