@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i');
body{
	background-color: #28294a;
}

ul{
	color: white;
	font-size: 2.5em;
}

h1{
	color:#d0d0e1;
	text-align: center;
	font-size: 5em;
	font-family: 'Norican', cursive;

}

a{
	text-decoration: none;
	color: #ffa097;
 }

 ul{
 	list-style: none;
 	text-align: center;
 	font-size: 6em;
 	font-family: 'Libre Baskerville', serif;
 	

 }
